# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/

# Virtual env
.venv/
venv/

# Build artifacts
dist/
build/

# OS / Editor
.DS_Store
.idea/
.vscode/

# Test / tooling
.pytest_cache/
.coverage
htmlcov/
